<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     xmlns:context="http://www.springframework.org/schema/context"
xmlns:mvc="http://www.springframework.org/schema/mvc"     xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

 
<!--  bean definitions here 
  --> 
  
  <context:component-scan base-package="com.sooriya.controller"/>
  <mvc:annotation-driven/>
  
  <!-- Defining Interceptor class and the path of specific pages, so that it will get restricted to those pages instead of whole application -->
  <mvc:interceptors>  
  	<mvc:interceptor>
  		<mvc:mapping path="/submitForm"/>
  		<bean class="com.sooriya.controller.DayOfWeekBasedAccessInterceptor"/>
  	</mvc:interceptor>
  	<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
  		<property name="paramName" value="siteLanguage"/>
  	</bean>
  </mvc:interceptors>
  
  <bean id="HandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" /> 
  
 
 
 <!-- Used @RequestMapping annotation, hence removed below line -->
 <!-- <bean name="/welcome.html" class="com.sooriya.controller.HelloController" /> -->
 
 
 
 <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
 	<property name="prefix">
  		<value>/WEB-INF/</value> 
  	</property>
 	<property name="suffix">
  		<value>.jsp</value> 
  	</property>
  </bean>
  
  <bean id="messageSource"
  class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
  
  	<property name="basename" value="/WEB-INF/studentmessages"/>
  	<property name="cacheSeconds" value="1"/>
  	
  </bean>
  <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" />
 </beans>